<!-- START of: finna - record/view.phtml -->
<?php
  // Set up standard record scripts:
  $this->headScript()->appendFile("record.js");
  $this->headScript()->appendFile("check_save_statuses.js");
  $this->headScript()->appendFile("finna-comments.js");
  if ($this->record($this->driver)->ratingAllowed()) {
     $this->headScript()->appendFile('vendor/bootstrap-rating.min.js');
     $this->headLink()->appendStylesheet('vendor/bootstrap-rating.min.css');
  }
  // Activate Syndetics Plus if necessary:
  if ($this->syndeticsPlus()->isActive()) {
    echo $this->headScript()->appendFile($this->syndeticsPlus()->getScript());
  }

  // Add RDF header link if applicable:
  if ($this->export()->recordSupportsFormat($this->driver, 'RDF')) {
    $this->headLink()->appendAlternate($this->recordLink()->getActionUrl($this->driver, 'RDF'), 'application/rdf+xml', 'RDF Representation');
  }

  // Set up breadcrumbs:
  $this->layout()->breadcrumbs = '<li>' . $this->searchMemory()->getLastSearchLink($this->transEsc('Search'), '', '</li> ') .
    '<li class="active">' . $this->recordLink()->getBreadcrumb($this->driver) . '</li> ';

  $this->layout()->title = $this->driver->getShortTitle();

  $this->headMeta()->appendName('format-detection', 'telephone=no');

  // Set page title.
  $headText = $this->driver->getBreadcrumb();
  $organisationName = $this->organisationDisplayName($this->driver);
  if (!empty($organisationName)) {
     $headText .= " | $organisationName";
  }
  $this->headTitle($headText);

  $this->jsTranslations()->addStrings(
    [
      'map_zoom_in' => 'map_zoom_in',
      'map_zoom_out' => 'map_zoom_out'
  ]);
  if ($lastUrl = $this->searchMemory()->getLastSearchUrl()) {
      $params = $this->searchMemory()->getLastSearchParams($this->searchClassId);
      $params->activateAllFacets();
      $filterList = $params->getFilterList(true);

      if (!empty($params->getFilterList(false))) {
          $checkboxFilters = $params->getCheckboxFacets();
          $lastSort = $this->searchMemory()->getLastSort($this->searchClassId);
          $options = $this->searchOptions($this->searchClassId);
          $defaultSortApplied = !isset($params) || $lastSort == $options->getDefaultSortByHandler($params->getSearchHandler());
          // Set up filters
          $this->layout()->finnaFilters = $this->context($this)->renderInContext(
              'search/filters.phtml',
              [
                  'filterList' => $filterList,
                  'checkboxFilters' => $checkboxFilters,
                  'hasDefaultsApplied' => $params->hasDefaultsApplied(),
                  'defaultSortApplied' => $defaultSortApplied,
                  'options' => $options,
                  'params' => $params
              ]
          );
      }
  }
  $this->record($this->driver)->getOnlineUrls('results');

  $params = $this->searchMemory()->getLastSearchParams($this->searchClassId);
  $recordImage = $this->recordImage($this->record($this->driver));
  $images = $recordImage->getAllImagesAsCoverLinks(
      $this->layout()->userLang, $params
  );
  $noImage = empty($images[0]['urls']['medium']) && empty($images[0]['urls']['large']);
  $largeImageLayout = !$noImage && in_array($this->driver->tryMethod('getRecordType'), ['lido', 'forward', 'ead']);
?>
</div>
<div class="container">
<div class="record source<?=$this->escapeHtmlAttr($this->driver->getSourceIdentifier())?> record-row <?= $largeImageLayout ? 'large-image-layout' : '' ?>">
  <div>
      <?=$this->record($this->driver)->getToolbar()?>
  </div>
  <div class="record-main <?= !$largeImageLayout ? 'mainbody left' : ''?>">
    <input type="hidden" value="<?=$this->escapeHtmlAttr($this->driver->getUniqueId())?>" class="hiddenId" />
    <input type="hidden" value="<?=$this->escapeHtmlAttr($this->driver->getSourceIdentifier()) ?>" class="hiddenSource" />
    <?=$this->flashmessages()?>
    <?=$this->record($this->driver)->getMetaTags();?>
    <?=$this->record($this->driver)->getCoreMetadata()?>

    <?=$this->driver->supportsCoinsOpenURL()?'<span class="Z3988" title="' . $this->escapeHtmlAttr($this->driver->getCoinsOpenURL()) . '"></span>':''?>
  </div>

  <?php ob_start(); ?>
    <?php if ($this->resolver('record/record-organisation-menu.phtml') && $this->driver->getSourceIdentifier() == 'Solr'): ?>
      <div class="organisation-menu">
          <?=$this->render('record/record-organisation-menu.phtml') ?>
      </div>
    <?php endif; ?>
    <?php foreach ($this->related()->getList($this->driver) as $current): ?>
        <?=$this->related()->render($current)?>
    <?php endforeach; ?>
    <?php if ($template = $this->content()->findTemplateForLng("content/Additions/record-post-recommendations")): ?>
      <div>
          <?=$this->render($template)?>
      </div>
    <?php endif; ?>
  <?php $sidebar = ob_get_contents(); ?>
  <?php ob_end_clean(); ?>

  <div class="sidebar right smaller-image-sidebar hidden-xs hidden-sm">
    <?php if ($sidebar):?>
        <?=$sidebar ?>
    <?php endif; ?>
  </div>
  <style>
  
    body.ljudinspelning .transcription-wrapper {
        clear: left;
        width: 70%;
        margin-top: 30px;
        border: 1px solid #ccc;
    }
    body.ljudinspelning #transcription {
        padding: 10px 20px;
    }
    body.ljudinspelning .record-rating {
        margin-bottom: 20px;
    }
  </style>
  <script>
    $(document).ready(function() {
        $audio = $(".audio-player-wrapper audio");
        if ($audio) {
            $("body").addClass("ljudinspelning");
            $(".recordFormat, .recordPhysicalLocation, .recordReferenceCode, .recordLanguage, .recordHierarchyLinks, .recordSubjects").hide();
            var audiofile = $audio.attr("src");
            var urlbase = "/dev4/themes/custom/files/xml/";
            var xmlfile = urlbase + audiofile.split("/").pop().replace(".mp3", ".xml");
            loadXmlFile(xmlfile, addTranscription);
        }
    });
  </script>
  <div class="transcription-wrapper sidebar">
      <h4>Transkription</h4>
      <div id="transcription"></div>
  </div>
  <?php $this->headScript()->appendFile("transcription.js"); ?>

  <div class="clearfix hidden-lg hidden-md"></div>
  <div class="record-tabs record-accordions">
    <?php if (count($this->tabs) > 0): ?>
      <a id="tabnav"></a>
        <?php if (count($this->tabs) > 3): ?>
        <div class="tabs-responsive">
        <?php endif; ?>
        <ul class="recordTabs nav nav-tabs visible-md visible-lg">
          <?php foreach ($this->tabs as $tab => $obj): ?>
            <?php // add current tab to breadcrumbs if applicable:
              $desc = $obj->getDescription();
              $tabName = preg_replace("/\W/", "-", strtolower($tab));
              $tabClasses = [ 'record-tab', $tabName ];
              if (0 === strcasecmp($this->activeTab, $tab)) {
                if (!$this->loadInitialTabWithAjax || !$obj->supportsAjax()) {
                    $tabClasses[] = 'active';
                }
                $tabClasses[] = 'initiallyActive';
                $this->layout()->breadcrumbs .= '<li class="active">' . $this->transEsc($desc) . '</li>';
                $activeTabObj = $obj;
              }
              if (!$obj->isVisible()) { $tabClasses[] = 'hidden'; }
              if (!$obj->supportsAjax()) { $tabClasses[] = 'noajax'; }
              if (strtolower($tab) == 'details') { $tabClasses[] = 'hidden-xs tab-right'; }
            ?>
            <li class="<?=implode(' ', $tabClasses)?>" data-tab="<?=$tabName?>">
              <a class="<?=strtolower($tab) ?>" aria-label="<?=$this->escapeHtmlAttr($tab)?>"
                href="<?=$this->recordLink()->getTabUrl($this->driver, $tab)?>#tabnav"<?php if ($obj->supportsAjax() && in_array($tab, $this->backgroundTabs)):?>
                data-background<?php endif ?>>
                <?php if (strtolower($tab) == 'details'): ?><i class="fa fa-lg fa-<?=$this->escapeHtmlAttr($tab)?>"></i><?php endif; ?>
                <?php if (strtolower($tab) != 'details'): ?><?=$this->transEsc($desc)?><?php endif; ?><?php if (strtolower($tab) == 'usercomments') : ?> (<span class="count"><?= count($this->driver->getComments()) ?></span>)<?php endif; ?>
              </a>
            </li>
          <?php endforeach; ?>
        </ul>
        <?php if (count($this->tabs) > 3): ?>
        </div>
        <?php endif; ?>
    <?php endif; ?>

    <div class="record-accordions">
      <?php foreach ($this->tabs as $accordion => $obj): ?>
        <?php
          // add current tab to breadcrumbs if applicable:
          $desc = $obj->getDescription();
          $accordion_classes = [
            'accordion',
            'accordion-' . strtolower($accordion)
          ];
          if (0 === strcasecmp($this->activeTab, $accordion)) {
            $this->layout()->breadcrumbs .= '<li class="active">' . $this->transEsc($desc) . '</li>';
            if (!$this->loadInitialTabWithAjax || !$obj->supportsAjax()) {
              $accordion_classes[] = 'active';
            }
            $accordion_classes[] = 'initiallyActive';
          }
          if (!$obj->isVisible()) { $accordion_classes[] = 'hidden'; }
          if (!$obj->supportsAjax()) { $accordion_classes[] = 'noajax'; }
        ?>
        <div class="<?=implode(' ', $accordion_classes)?>">
          <div class="accordion-toggle">
            <a data-tab="<?=strtolower($accordion) ?>" class="accordion-title"
              href="<?=$this->recordLink()->getTabUrl($this->driver, $accordion)?>#tabnav"<?php if ($obj->supportsAjax() && in_array($accordion, $this->backgroundTabs)):?>
              data-background<?php endif ?>
            >
              <span class="title"><?=$this->transEsc($desc)?><?php if (strtolower($accordion) == 'usercomments') : ?> (<span class="count"><?= count($this->driver->getComments()) ?></span>)<?php endif; ?></span>
              <i class="icon"></i>
            </a>
          </div>
        </div>
      <?php endforeach; ?>
    </div>

    <div class="tab-content">
      <?php if (!$this->loadInitialTabWithAjax || !isset($activeTabObj) || !$activeTabObj->supportsAjax()): ?>
        <div class="tab-pane active <?=$this->activeTab ?>-tab">
            <?=isset($activeTabObj) ? $this->record($this->driver)->getTab($activeTabObj) : '' ?>
        </div>
      <?php endif; ?>
    </div>

    <div class="clearfix hidden-lg hidden-md"></div>
  </div>

  <div class="sidebar left large-image-sidebar <?= $largeImageLayout ? '' : 'visible-xs visible-sm'?>">
    <?php if ($sidebar):?>
        <?=$sidebar ?>
    <?php endif; ?>
  </div>

  </div>
</div>
<?=$this->record($this->driver)->renderTemplate('toolbar_mobile.phtml') ?>
<div>
<?=$this->inlineScript(\Zend\View\Helper\HeadScript::SCRIPT, '$(document).ready(recordDocReady);', 'SET') ?>
<!-- END of: finna - record/view.phtml -->
